@model IEnumerable<PollosMario.Web.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Reporte</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Cedula)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Persona.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
    </tr>
}

</table>
